@using AspireYouTubeSummariser.WebApp.Clients
@inject IApiAppClient ApiApp

<div class="container">
    <h3>Melon Chart Summary</h3>

    <div class="row">
        <div class="col-md-6">
            <label for="questionInput">Question:</label>
            <input type="text" class="form-control" id="question" placeholder="질문을 입력하세요" @bind="question" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <button class="btn btn-primary" id="ask" @onclick="AskAsync">Ask</button>
            <button class="btn btn-secondary ml-2" @onclick="ResetAsync">Reset</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="result">Result:</label>
            <textarea class="form-control" id="result" rows="5" placeholder="결과를 표시합니다" readonly>@summaryResult</textarea>
        </div>
    </div>
</div>


@code {
    private string? question { get; set; }
    private string? summaryResult { get; set; }

    private async Task AskAsync()
    {
        try
        {
            var result = await ApiApp.MelonChartAsync(question);
            this.summaryResult = result;
        }
        catch (Exception ex)
        {
            this.summaryResult = ex.Message;
        }
    }

    private async Task ClearAsync()
    {
        this.question = null;
        this.summaryResult = null;

        await Task.CompletedTask;
    }
}