@page "/"
@using AspireYouTubeSummariser.WebApp.Components.UI

<PageTitle>Home</PageTitle>

<h1>It's Lee's Melon Chart</h1>
<p>Welcome to your new app.</p>

<YouTubeSummariserComponent @rendermode="InteractiveServer" />